
.input {
    position:relative;
    width:100%;
    margin:30px 0;
}

.input input {
    width:100%;
    box-sizing: border-box;
    padding:12px;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    border:1px solid #e1e1e1;
}

.input label {
    position:absolute;
    left:10px;
    background:#fff;
    font-size:14px;
    color:#7d7d7d;
    top:-8px;
    pointer-events: none;
    transition: top 0.2s;
}

.input input[value=""] ~ label {
    top:14px; 
}


.input input:focus ~ label {
    top:-8px;
}
.inputnc button {
    padding:14px;
    border-radius: 4px;
    cursor:pointer;
    background:#2b9e2d;
    color:#fff;
    border:0;
    font-size:16px;
}


